In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

In [ ]:
from google.colab import drive #toimport google drive data

In [ ]:
drive.mount('/content/drive') #to mount the drive data into colab clound and enterr the activation code

Mounted at /content/drive

In [ ]:
cd /content/drive/"My Drive/Long Hour Coding - Rushi/Arjun_Assignment_data"

/content/drive/My Drive/Long Hour Coding - Rushi/Arjun_Assignment_data

In [ ]:
Dataset = pd.read_csv('postLinks.csv')
Dataset

,Unnamed: 0,id,creation_date,post_id,related_post_id,link_type_id
0,0,19,2010-04-26T02:59:48.130,109,32412,1
1,1,37,2010-04-26T02:59:48.600,1970,617600,1
2,2,42,2010-04-26T02:59:48.647,2154,2451138,1
3,3,48,2010-04-26T02:59:48.740,2483,496096,1
4,4,52,2010-04-26T02:59:48.757,2572,209329,1
...,...,...,...,...,...,...
5292619,5292619,1624278139,2018-09-02T08:09:41.520,52133002,31486547,1
5292620,5292620,1624278147,2018-09-02T08:10:50.820,52134991,5500805,1
5292621,5292621,1624278315,2018-09-02T08:14:26.470,52135049,30461565,1
5292622,5292622,1624278337,2018-09-02T08:15:36.387,52135007,1761051,1
5292623,5292623,1624278449,2018-09-02T08:17:32.137,52135049,3127429,1

In [ ]:
Dataset['new']=Dataset["creation_date"].str.split("-").str.get(0)+"-"+Dataset["creation_date"].str.split("-").str.get(1)

link=Dataset.values[:,-1]
link= link.tolist()

In [ ]:
print(len(link))

5292624

In [ ]:
Dataset['link_type_id'].value_counts()

In [ ]:
Dataset['new']

0          2010-04
1          2010-04
2          2010-04
3          2010-04
4          2010-04
            ...
5292619    2018-09
5292620    2018-09
5292621    2018-09
5292622    2018-09
5292623    2018-09
Name: new, Length: 5292624, dtype: object

In [ ]:
while ()

In [ ]:
x = Dataset.loc[Dataset['link_type_id'] == 3, 'creation_date']

In [ ]:
y = Dataset.loc[Dataset['link_type_id'] == 1, 'creation_date']

In [ ]:
print(y)

0          2010-04-26T02:59:48.130
1          2010-04-26T02:59:48.600
2          2010-04-26T02:59:48.647
3          2010-04-26T02:59:48.740
4          2010-04-26T02:59:48.757
                    ...
5292619    2018-09-02T08:09:41.520
5292620    2018-09-02T08:10:50.820
5292621    2018-09-02T08:14:26.470
5292622    2018-09-02T08:15:36.387
5292623    2018-09-02T08:17:32.137
Name: creation_date, Length: 4610295, dtype: object

In [ ]:
y = y.str.split("-").str.get(0)+"-"+y.str.split("-").str.get(1)

In [ ]:
print(y)

0          2010-04
1          2010-04
2          2010-04
3          2010-04
4          2010-04
            ...
5292619    2018-09
5292620    2018-09
5292621    2018-09
5292622    2018-09
5292623    2018-09
Name: creation_date, Length: 4610295, dtype: object

4610295

In [ ]:

x = x.str.split("-").str.get(0)+"-"+x.str.split("-").str.get(1)

In [ ]:
X1 = x.value_counts()

In [ ]:
Y1 = y.value_counts()

In [ ]:
print(len(Y1))

102

In [ ]:
print(len(X1))

68

In [ ]:
print(Y1)

2017-03    68739
2016-03    67319
2016-05    66052
2016-04    65832
2017-08    65240
           ...
2010-09    12160
2010-11    11271
2010-06     9970
2010-05     9694
2018-09     1322
Name: creation_date, Length: 102, dtype: int64

AttributeError: ignored

NameError: ignored